<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="10" size-lg="8" size-xl="6">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Nueva categoría</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-input
                placeholder="Nombre"
                [(ngModel)]="name"
                (keyup.enter)="addCategory()"
                fill="outline"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="addCategory()">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              Agregar
            </ion-button>
          </ion-card-content>
        </ion-card>

        <ion-list inset="true" *ngIf="(categories$ | async)?.length; else empty">
          <ion-list-header>
            <ion-label>Mis categorías</ion-label>
          </ion-list-header>

          <ion-item-sliding *ngFor="let c of (categories$ | async); trackBy: trackById">
            <ion-item button="true" (click)="startEdit(c)">
              <ion-icon slot="start" name="pricetag-outline" color="tertiary"></ion-icon>
              <ion-label>{{ c.name }}</ion-label>
              <ion-icon slot="end" name="create-outline" color="medium"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="remove(c.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

        <ng-template #empty>
          <ion-card>
            <ion-card-content class="ion-text-center">
              <ion-icon name="pricetags-outline" size="large" color="medium"></ion-icon>
              <p>Todavía no tenés categorías.</p>
            </ion-card-content>
          </ion-card>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">Prueba técnica</ion-title>
  </ion-toolbar>
</ion-footer>
